################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/itsGameTime/x64/Debug
/.vs/itsGameTime/v15
/x64/Debug
